<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lidia.appproject2017_2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA65d9vxYnVPM1GfWQaH-Ty6JOGcM61Ukc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activity.test2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SigninActivity" />
        <activity
            android:name=".Activity.MainFindActivity"
            android:label="@string/title_activity_main_bottom"
            android:launchMode="singleTop" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.BasicActivity" />
        <activity android:name=".Activity.test" />
        <activity android:name=".Activity.PensionCommon1Activity" />
        <activity android:name=".Activity.CafeCommon1Activity" />
        <activity android:name=".Activity.RestCommon1Activity" />
        <activity android:name=".Activity.EtcCommon1Activity" />
        <activity android:name=".Activity.PensionKeyword2Activity" />
        <activity android:name=".Activity.PensionImage3Activity" />
        <activity android:name=".Activity.CafeKeyword2Activity" />
        <activity android:name=".Activity.CafeImage3Activity" />
        <activity android:name=".Activity.RestKeyword2Activity" />
        <activity android:name=".Activity.RestImage3Activity" />
        <activity android:name=".Activity.EtcKeyword2Activity" />
        <activity android:name=".Activity.EtcImage3Activity"></activity>
    </application>

</manifest>